.section-main{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.txt-top{
    color: var(--ct-color-font-primary);
    padding: 25px;
}

.comments-section{
    background-color: var(--ct-color-bg-tertiary);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--ct-color-bg-secondary);
    width: 100%;
    height: 120px;
    color: var(--ct-color-font-tertiary);
}

.container-footer{
    width: 900px;
}

.information {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 10px; 
  }
  
  @media (min-width: 576px) {
    .information {
      flex-direction: row; 
      justify-content: space-between;
      align-items: center; 
      width: 100%;
    }
  }

